main{
	min-height: 85.4vh;
}

.header{
	background-color: black;
	color: white;
	margin-bottom: 20px;
}

a{
	text-decoration: none;
}

.titulo{
	margin: 10px 25px;
	text-decoration: none;
	color: white;
}

.subTitulo{
	text-align: center;
	margin: 5px 0 20px 0;
}

.botoes{
	margin: 0 73px;
}

.button{
	border: none;
	height: 50px;
	margin: 5px;
	border-radius: 15px;
	background-color: lightblue;
}

#form{
	margin: 5px;
	padding: 10px;
}

.label{
	margin-bottom: 5px;
}

.btn-confirm{
	float: right;
	margin-top: 15px;
}

.btn-cancel{
	float: left;
	margin-top: 15px;
}

#mensagem{
	margin-top: 60px;
	text-align: center;
}

.footer{
	background-color: black;
	color: white;
	text-align: center;
	height: 55px;
	padding: 15px 0;
}